@page "/ShoppingCart"

@inherits ShoppingCartBase

@if (CartItems == null && ErrorMessage == null)
{
    <div>Loading...</div>
}
else if (ErrorMessage != null)
{
    <DisplayError Error="ErrorMessage" />
}
else
{
    <MudText Typo="Typo.h4">Shopping cart</MudText>
    <MudDivider />

    @foreach (var item in CartItems)
    {
        <MudCard>
            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12" md="6">
                        <MudText Typo="Typo.h6">@item.ProductName</MudText>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudText Typo="Typo.h6">Quantity: @item.Quantity</MudText>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudText Typo="Typo.h6">Price: @item.ProductPrice</MudText>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudText Typo="Typo.h6">Total: @(item.ProductPrice * item.Quantity) $</MudText>
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
            </MudCard>
    }


}

@code {

}

